body{
    margin:0;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}

input
{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    border:2px solid rgb(155, 236, 15);
}
button
{
    background-color: rgb(95, 159, 137);
    color: aliceblue;
    margin-top: 20px;
}


